@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');

.reveal {
  font-family: 'Quattrocento Sans', 'sans-serif';
}

.reveal table colgroup col {
  width: auto !important;
}

.reveal small {
  font-size: 0.7em;  
}

.reveal a, .reveal a:hover {
  color: #f56c42;
}

.reveal .progress {
  height: 5px;
}

.reveal .progress span {
  background-color: #f56c42;
}

.reveal table, .reveal table th, .reveal table td {
  border-style: none;
}

.reveal table th {
  border-bottom: 1px solid;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 { 
  font-family: 'EB Garamond', 'serif';
  font-weight: normal;
}

.reveal .slide-number {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 5px;
  right: 0px;
}

.reveal .leaflet {
  margin: auto;
}

.reveal pre code {
  max-height: 360px;  
}

.reveal section p, .reveal section ul {
  font-size: 0.8em;
}

.reveal blockquote {
  box-shadow: none;
}

.reveal section ul {
  line-height: 1.6em;
}

.reveal pre {
  box-shadow: none;
  padding: 1em;
  background-color: #fafafa;
  border-radius: 0.5em;
}

div.sourceCode {
  background: none;
}

.reveal section img {
  border: 0px;
  box-shadow: none;
}

.reveal h1 {
  color: #f56c42;
  font-weight: bold;
}

#titleslide h1, #titleslide h3, #titleslide a, #titleslide p {
  font-weight: normal;
  color: #ffffff !important;
}

#titleslide h3 {
  margin-bottom: 1em;
}

#titleslide p {
  font-size: 0.7em;
  font-weight: normal;
  color: #ffffff !important;
}